body {
	font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
/*navbar style */
.navBar {
	width: 100%;
	border-right: 3px solid #99a2a2;
}
.navBar h1 {
	color: #000;
	border-bottom: 1px solid black;
	padding: 10px;
	font-size: 1.4em;
	text-align: center;
}
.links {
	list-style-type: none;
	font-size: 1.2em;
}
.links li {
	line-height: 2.4em;
	border-bottom: 1px solid rebeccapurple;
}
.links a {
	text-decoration: none;
}

/*main section design */
.extension {
	background: #f7f7f7;
	max-width: 95%;
}
.extension p,
ul {
	padding: 10px;
	line-height: 1em;
}
.grid {
	display: grid;
	grid-template-columns: repeat(8, 1fr);
}
header {
	grid-column: 1/2;
	position: fixed;

	margin-left: -30px;
}
main {
	grid-column: 3/9;
	margin-left: -50px;
	margin-top: 20px;
}
main h1 {
	color: #000000;
	font-size: 1.8em;
}

main ul,
p {
	color: #6a6b70;
	font-size: 1.1em;
	line-height: 2em;
}
/*for link hover */
a:link {
	color: #a6a7a9;
}

/* visited link */
a:visited {
	color: #a6a7a9;
}

/* mouse over link */
a:hover {
	color: #a6a7a9;
}

/* selected link */
a:active {
	color: #a6a7a9;
}

/*for different resolutions*/
@media screen and (max-width: 1400px) {
	header {
		grid-column: 1/8;
		position: static;
	}
	main {
		grid-column: 2/8;
		margin-left: -80px;
	}
}
